<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
</head>
<body>
    <div>
        <h1>Cart Page</h1>
    </div>

    <a href="/">Home</a>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach((item) => { %>
                    <tr>
                        <td><%= item.product.name %></td>
                        <td><%= formatNumber(item.product.price) %></td>
                        <td><%= item.stock %></td>
                        <td><%= formatNumber(item.subtotal) %></td>
                        <td>
                            <a href="/cart/remove/<%= item.product.id %>">Remove</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td><%= formatNumber(total) %></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>