<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <div>
        <h1>Welcome to Palpale Store</h1>
    </div>

   <!-- <div>
        <h2>Hi, </h2>
    </div> -->

    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

    <div>
        <a href="/products/add">Add Product</a>
    </div>

    <div>
        <form action="/products" method="GET">
            <div>
                <label for="search">Search</label>
                <% product.forEach(product => { %>
                    <input type="text" name="search" id="search" placeholder="Search for products" value="<%= product.name %>">
                <% }) %>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Description</th>
                    <th>Product Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach(product => { %>
                    <tr>
                        <td style="width: 100px;"><img src="<%= product.productImg %>" alt="" style="width: 100%;"></td>
                        <td><%= product.name %></td>
                        <td><%= formatNumber(product.price) %></td>
                        <td><%= product.description %></td>
                        <td><%= product.categories %></td>
                        <td>
                            <a href="/products/edit/<%= product.id %>">Edit</a>
                            <a href="/products/delete/<%= product.id %>">Delete</a>
                            <a href="/product/<%= product.id %>">View</a>
                            <a href="/cart">Add to Cart</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
    </div>
</body>
</html>